*{
	margin: 0;
	padding: 0;}
	
body{
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	line-height: 20px;}
	
#wrapper{
	margin: 0 auto;
	width: 960px;}
	
#headerNav{
	width: 960px;
	height: 175px;
	float: left;}
	
#headerNav .brandding{
	float: left;}
	
#headerNav .brandding h1{
	display: block;
	float: left;
	width: 175px;
	height: 175px;}

#headerNav .brandding h1 a{
	background-image: url(../images/brand.gif);
	display: block;
	width: 175px;
	height: 175px;
	text-indent: -9999px;}
